.background-overlay {
    min-height: 100vh;
    --theme-color: $blue-gradient;
}

.background-overlay::before {
    content: "";
    height: 100vh;
    background: var(--theme-color);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.app-container {
    color: $white;
    padding: 3.2rem 0;
    max-width: 480px;
    margin: 0 auto;
}

@media (min-width: 768px) and (orientation: portrait) {
    .app-container {
        max-width: 640px;
    }
}

@media (min-width: 768px) and (orientation: landscape) {
    .background-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .app-container {
        margin: 0;
        max-width: 768px;
        display: grid;
        grid-gap: 3.2rem;
        grid-template-areas:
            "curr dtl"
            "rmd dtl"
            "hour dtl"
            "day dtl"
            "foot dtl";
    }
}
