@keyframes slide-in-first {
    0% {
        opacity: 0;
        transform: translateX(50vw);
    }
    1% {
        opacity: 0.65;
    }
    80% {
        opacity: 0.65;
    }
    100% {
        opacity: 0;
        transform: translateX(-150vw);
    }
}

@keyframes slide-in-later {
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }
    1% {
        opacity: 0.55;
    }
    80% {
        opacity: 0.55;
    }
    100% {
        opacity: 0;
        transform: translateX(-150vw);
    }
}

.cloud-layer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.cloud-layer__cloud {
    display: block;
    opacity: 0;
    width: 5440px;
    height: 28rem;
    user-select: none;
    pointer-events: none;
}

.cloud-layer__cloud--first {
    animation: slide-in-first 200s linear infinite;
    transform: translateX(50vw);
}

.cloud-layer__cloud--second {
    animation: slide-in-later 200s linear infinite;
    animation-delay: 80s;
    transform: translateX(100vw);
    position: absolute;
    top: 0;
}

.cloud-layer__image {
    height: inherit;
}
