.search-modal__overlay {
    min-height: 100vh;
    padding: 1.6rem;
    margin: 0 auto;
    outline: none;
    width: 100%;
}

.search-modal__container {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    margin: 0 auto $tiny-size auto;
    max-width: 480px;
}

.search-modal__searchbar {
    background: $milk-white;
    padding: 0 0.8rem;
    border-radius: 1.2rem;
    flex-grow: 1;
    display: inline-flex;
    align-items: baseline;
    height: 3.2rem;
    line-height: 3.2rem;
}

.search-modal__icon {
    color: $gray;
    font-size: 1.6rem;
}

.search-modal__icon--small {
    color: lighten($gray, 15%);
    font-size: 1.4rem;
    margin-right: 0.4rem;
}

.search-modal__input {
    border: 0;
    background: transparent;
    flex-grow: 1;
    padding: '0 0.4rem';
    line-height: 2.4rem;
    height: 2.4rem;
    outline: none;
    color: darken($gray, 40%);
}

.search-modal__cancel {
    color: darken($milk-white, 10%);
    flex-shrink: 0;
    background: transparent;
    border: 0;
    padding: 0;
    outline: none;
    margin-left: 0.8rem;
}

.search-modal__cancel:hover {
    cursor: pointer;
}

.search-modal__cancel:active {
    transform: translateY(2px);
}

.search-modal__matched {
    display: block;
    color: darken($milk-white, 10%);
    padding: $s-size $xs-size;
    border-bottom: 1px solid rgba($milk-white, 0.3);
    max-width: 480px;
    margin: 0 auto;
}

.search-modal__highlighted-word {
    color: white;
    font-weight: bold;
}

@media (min-width: 480px) {
    .search-modal__overlay {
        padding: 3.2rem 1.6rem;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .search-modal__overlay,
    .search-modal__container {
        max-width: 640px;
    }
    .search-modal__matched {
        max-width: unset;
        margin: unset;
    }
}

@media (min-width: 768px) and (orientation: landscape) {
    .search-modal__overlay,
    .search-modal__container {
        max-width: 768px;
    }
    .search-modal__matched {
        max-width: unset;
        margin: unset;
    }
}
