@keyframes compass {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.search-modal__top-overlay {
    color: $white;
    background-color: rgba(60, 60, 60, 0.3);
    font-size: $l-plus;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-overlay__icon {
    font-size: $xl-size;
    animation: compass 2.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

.search-modal__overlay {
    width: 100vw;
    min-height: 100vh;
    padding: $s-size 1.0rem;
    margin: 0 auto;
    outline: none;
}

.search-modal__container {
    display: flex;
    align-items: center;
    background-color: lighten($milk-white, 5%);
    border-radius: $xxs-size;
    position: sticky;
    top: $s-size;
    box-shadow: 2px 3px 4px rgba(60, 60, 60, 0.3);
    margin-bottom: $m-size;
}

.search-modal__searchbar {
    flex-grow: 1;
}

.search-modal__button {
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    outline: none;
    padding: $s-size $m-size;
    font-size: $l-minus;
    color: $gray;
}

.search-modal__button:hover {
    color: darken($gray, 15%);
    cursor: pointer;
}

.search-modal__button--highlighted {
    font-size: 1.4rem;
    color: rgb(97, 149, 245);
}

.search-modal__button--highlighted:hover {
    color: darken(rgb(97, 149, 245), 10%);
}

.search-modal__input {
    border: 0;
    background: transparent;
    padding: 0;
    height: 2.8rem;
    line-height: 2.8rem;
    outline: none;
    color: darken($gray, 40%);
    width: 100%;
    font-size: $l-minus;
}

.search-modal__matched {
    display: flex;
    align-items: center;
    color: darken($milk-white, 10%);
    margin: 0 auto $xs-size auto;
}

.matched__text {
    display: inline;
}

.matched__note {
    display: inline;
    margin-left: $xs-size;
}

.matched__icon {
    color: lighten($gray, 15%);
    font-size: $s-size;
    padding: $s-size 2.15rem;
}

.matched__highlighted-word {
    color: white;
    font-weight: bold;
}

@media (min-width: 480px) {
    .search-modal__overlay {
        max-width: 480px;
        padding: $l-plus $m-size;
    }
}

@media (min-width: 768px) {
    .search-modal__overlay {
        max-width: 640px;
    }
}
