.details {
    border-top: 1px solid rgba($white, 0.4);
    padding: 0 $m-size;
}

.details__segment {
    padding: $xs-size 0 ;
}

.details__segment:not(:first-of-type) {
    border-top: 1px solid rgba($white, 0.4);
}

.details__tag {
    display: block;
    font-size: $s-size;
    color: rgba($white, 0.8);
    text-shadow: 1px 3px 3px rgba(60, 60, 60, 0.1);
}

.details__text {
    display: block;
    margin-top: $tiny-size;
    font-size: 2.4rem;
    text-shadow: 1px 3px 3px rgba(60, 60, 60, 0.1);
}

@media (min-width: 768px) and (orientation: landscape) {
    .details {
        grid-area: dtl;
        align-self: end;
        border-top: 0;
    }
}
