.weather-card {
    text-align: center;
    display: inline-block;
    margin-left: 3.1rem;
    min-height: $xl-plus;
}

.weather-card:first-of-type {
    margin-left: 0;
}

.weather-card__time {
    font-size: $s-size;
}

.weather-card__pop {
    margin-top: 0.2rem;
    font-size: 1.0rem;
}

.weather-card__icon {
    margin-top: $tiny-size;
}

.weather-card__temp {
    margin-top: $xs-size;
}
