html {
    box-sizing: border-box;
    font-size: 62.5%;
    min-height: 100vh;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang TC", "STHeitiTC", "Microsoft JhengHei", Arial, sans-serif;
    font-size: $m-size;
    min-height: 100vh;
}

#root {
    min-height: 100vh;
}

h1, p, ul {
    margin: 0;
}

@media (min-width: 768px) {
    html {
        font-size: 70%;
    }
}
